body {
    margin: 0;
    position: relative;
}
#gui {
    color: pink
    position: absolute;
     background-color: rgba(0, 0, 0, 0.7);
      color: white;
     color: white;

    opacity
    left: 10px;
    top: 10px;
}
